@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 0 40px 40px 40px;
    font-family: 'Roboto', sans-serif;

}

