.text {
    margin-bottom: 25px;
    font-size: 12px;
    color: #9E9FA4;
    font-weight: 400;
}

.link {
    font-weight: 700;
    text-decoration: none;
    color: #9E9FA4;
}

.link:hover {
    color: #2f3031;
    text-decoration: underline;
}