.main {
    padding: 45px 20px 45px 20px;
    color: #fff;
    background: #000;
    width: 80vw;
    text-align: center;
}

.texts {
    word-break: normal;
    white-space: inherit;
    margin-bottom: 20px;
}

.text {
    padding: 8px
}

.text>h1 {
    font-weight: 700;

}

.text>p {
    font-weight: 400;
    font-size: 16px;
}

.arrow_img {
    cursor: pointer;
}

.input_btn--copy {
    background-color: #09A858;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 0 35px 0 35px;
}

.input_btn--copy:hover {
    cursor: pointer;
}

.password_input {
    width: 100%;
    height: 50px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    border: none;
}

.input_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}

.input_btn--generate {
    background: #fff;
    border: none;
    padding: 0 25px 0 25px
}

.input {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;

}

@media (max-width:991px) {
    .input {
        flex: 100%;
    }

    .input_btn--copy {
        flex: 100%;
        height: 50px;
        margin-top: 20px;

    }
}